<<<<<<< HEAD
<h2>Please click on below link to activate your account</h2>
<a href ="<%= link %>">Activate now</a>
=======
<h2>Please click on below link to verify your email address</h2>
<a href ="<%= link %>">Click here</a>
>>>>>>> e1e39d74caaf121d32525ef5f25d83454a6f685a
